<html>
    <head>
        <title>Lai Van Hieu</title>
        <script src="jquery.js"></script>
        <!-- <script src="socket.io/socket.io.js"></script>
        <script src="xuly.js"></script> -->
       <link rel="stylesheet" type="text/css" href="layout.css"/>
    </head>
    <body>
       <text>HIEU LAJJ</text>
       <form>
            <div>
                <label>Avatar:</label>
                <input type="file" name="profile_pic"/>
            </div>
            <div>
                <button type="submit">Save files</button>
            </div>
       </form>
    </body>
</html>